.chooser-form-group {
  border-top: 1px solid @yellow-dark;
  padding-top: 12px;
  padding-bottom: 14px;
  position: relative;

  &--personal-form {
    border: 1px solid @fg-border;
    border-radius: 10px;
    padding-top: 16px;
    color: @fg-blue-light;
  }

  @media (min-width: @tablet-width) {
    border-top: none;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 26px;

    &--personal-form {
      border: 1px solid @fg-border;
    }
  }
}

.chooser-form-group__fieldset {
  border: none;
  padding: 0;
  margin: 0;
  position: relative;

  @media (min-width: @tablet-width) and (max-width: @desktop-width - 1) {
    display: grid;
    grid-template-columns: 108px 1fr;
    grid-template-areas: "title options";
    grid-column-gap: 18px;
    justify-items: start;
    align-items: center;
  }
}

.chooser-form-group__title {
  .common-font(16px, 18px, 700);
  text-transform: uppercase;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &--personal-form {
    padding-left: 14px;
    text-align: center;
  }

  &:hover {
    .hover();
  }

  &:active {
    .active();
  }

  &:focus-within {
    border-radius: 4px;
    .focus();
  }

  @media (min-width: @tablet-width) and (max-width: @desktop-width - 1) {
    grid-area: title;
    .common-font(20px, 20px, 500);
    padding-top: 3px;

    &::after {
      content: ":";
      .common-font(20px, 20px, 500);
    }

    &--personal-form {
      letter-spacing: 0.07em;
      position: absolute;
      bottom: -13px;
      background-color: @bg-lighter;
      padding-left: 20px;
      padding-right: 20px;

      &::after {
        content: none;
      }
    }

    &:hover,
    &:active {
      opacity: 1;
    }

    &:focus-within {
      outline: none;
    }

    &--transport {
      padding-top: 6px;
    }
  }

  @media (min-width: @desktop-width) {
    padding-left: 0;
    padding-bottom: 0;

    line-height: 22px;
    text-align: left;

    .common-font(20px, 22px, 700);

    &--personal-form {
      padding-left: 18px;
      padding-right: 18px;
      text-align: center;
      letter-spacing: 0.09em;
    }
  }
}

.chooser-form-group__button {
  width: 10px;
  height: 6px;

  border: none;

  background-repeat: no-repeat;
  background-color: transparent;

  &:focus {
    outline: none;
  }

  &--state-closed {
    background-image: url("../../../img/icons/group-open.svg");
  }

  &--state-opened {
    background-image: url("../../../img/icons/group-close.svg");
  }

  @media (min-width: @tablet-width) and (max-width: @desktop-width - 1) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    top: 4px;
  }
}

.chooser-form-group__list {
  padding: 16px 0 7px;

  @media (min-width: @tablet-width) and (max-width: @desktop-width - 1) {
    grid-area: options;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    padding-top: 23px;
    padding-bottom: 13px;
  }
}

.chooser-form-group__checkbox-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;

  @media (min-width: @tablet-width) and (max-width: @desktop-width - 1) {
    flex-direction: row;
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-column-gap: 20px;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.chooser-form-group__list-hidden {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.chooser-form-group__level {
  padding-bottom: 5px;

  @media (min-width: @tablet-width) and (max-width: @desktop-width - 1) {
    display: flex;
    flex-direction: row-reverse;
    gap: 61px;
  }
}
