.chooser-form-group {
  border-top: 1px solid @yellow-dark;
  padding-top: 12px;
  padding-bottom: 14px;
  position: relative;

  &--personal-form {
    border: 1px solid @fg-border;
    border-radius: 10px;
    padding-top: 16px;
    color: @fg-blue-light;
  }

  @media (min-width: @tablet-width) {
    border-top: none;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 19px;

    &--personal-form {
      border: 1px solid @fg-border;
    }
  }
}

.chooser-form-group__fieldset {
  border: none;
  padding: 0;
  margin: 0;
  position: relative;

  @media (min-width: @tablet-width) and (max-width: @desktop-width - 1) {
    display: grid;
    grid-template-columns: 108px 1fr;
    grid-template-areas: "title options";
    grid-column-gap: 18px;
  }
}

.chooser-form-group__title {
  .common-font(16px, 18px, 700);
  text-transform: uppercase;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 14px;

  &--personal-form {
    padding-left: 14px;
    text-align: center;
  }

  &:hover {
    .hover();
  }

  &:active {
    .active();
  }

  @media (min-width: @tablet-width) and (max-width: @desktop-width - 1) {
    grid-area: title;
    .common-font(20px, 20px, 500);

    &::after {
      content: ":";
      .common-font(20px, 20px, 500);
    }

    &--personal-form {
      letter-spacing: 0.07em;
      position: absolute;
      bottom: -13px;
      background-color: @bg-lighter;
      padding-left: 20px;
      padding-right: 20px;

      &::after {
        content: none;
      }
    }
  }

  @media (min-width: @desktop-width) {
    padding-left: 0;
    padding-bottom: 0;

    line-height: 22px;
    text-align: left;

    &--personal-form {
      padding-left: 18px;
      padding-right: 18px;
      text-align: center;
      letter-spacing: 0.09em;
    }
  }
}

.chooser-form-group__button {
  position: absolute;
  width: 10px;
  height: 6px;

  border: none;
  right: 0;
  top: -15px;

  background-repeat: no-repeat;
  background-color: transparent;

  &:hover {
    .hover();
  }

  &:active {
    .active();
  }

  &--state-closed {
    background-image: url("../../../img/icons/group-close.svg");
  }

  &--state-opened {
    background-image: url("../../../img/icons/group-open.svg");
  }

  @media (min-width: @tablet-width) and (max-width: @desktop-width - 1) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    top: 4px;
  }
}

.chooser-form-group__list {
  padding: 16px 0 7px;
  margin: 0;
  list-style-type: none;

  @media (min-width: @tablet-width) and (max-width: @desktop-width - 1) {
    grid-area: options;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: -20px;
    padding-top: 0;
    padding-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    padding-top: 23px;
    padding-bottom: 13px;
  }
}
