.countries-list {
  padding-left: 25px;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    padding-left: 0;

    &--a {
      margin-left: -4px;
    }

    &--b {
      margin-left: -1px;
    }

    &--v {
      margin-left: 3px;
    }

    &--g {
      margin-left: 5px;
    }

    &--d {
      margin-left: -3px;
    }

    &--ie {
      margin-left: -3px;
    }

    &--k {
      margin-left: 2px;
    }

    &--l {
      margin-top: 25px;
      margin-left: 1px;
    }

    &--m {
      margin-left: -4px;
      margin-top: 23px;
    }

    &--o {
      margin-left: 3px;
    }

    &--p {
      margin-left: 3px;
    }

    &--ch {
      margin-top: 27px;
      margin-left: -3px;
    }

    &--sh {
      margin-top: 27px;
      margin-left: 0;
    }

    &--e {
      margin-top: 29px;
      margin-left: 3px;
    }

    &--iu {
      margin-top: 28px;
      margin-left: 6px;
    }

    &--ia {
      margin-top: 27px;
      margin-left: 4px;
    }
  }
}

.countries-list__button {
  .common-font(16px, 22px, 400);
  color: @fg-special-grey;
  width: max-content;
  outline-color: transparent;
  .transition(opacity, outline-color;);

  &:hover {
    .hover();
  }

  &:active {
    .active();
  }

  &:focus {
    outline-color: @bg-main;
    border-radius: 4px;
  }

  @media (min-width: @tablet-width) {
    .common-font(20px, 30px, 400);
  }
}
