.country-with-flag {
  margin-bottom: 19px;
}

.country-with-flag__item {
  display: flex;
  justify-content: start;
  align-items: center;
}

.country-with-flag__item + .country-with-flag__item {
  margin-top: 10px;
}

.country-with-flag__flag {
  display: block;
  margin-right: 14px;
}

.country-with-flag__name {
  margin: 0;
  padding-top: 3px;
  .common-font(15px, 15px, 500);
  color: @fg-blue-light;
  text-transform: uppercase;
}
