.filter-popup {
  background-color: @bg-grey;
  width: 100%;

  .ladder__bottom(20px);
  padding-top: 28px;
  padding-bottom: 28px;

  @media (min-width: @tablet-width) {
    .ladder__bottom(@block-overlap-tablet);
  }

  @media (min-width: @desktop-width) {
    .ladder__bottom(@block-overlap-desktop);
  }
}

.filter-popup__parts-of-world {
  margin-bottom: 25px;
  padding-left: 25px;
  display: flex;
  flex-direction: column;
  gap: 9px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.filter-popup__letters {
  margin-bottom: 15px;
}

.filter-popup__countries-list {
  position: absolute;

  top: 218px;
  left: 0;

  width: 220px;
  height: 243px;
  overflow-x: auto;

  margin-bottom: 28px;

  @media (min-width: @tablet-width) {
    top: 0;
    left: 400px;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    top: auto;
    left: auto;
    margin-bottom: 0;
  }
}

.filter-popup__button {
  width: 100%;
  padding: 9px 0 7px;

  background-color: @bg-grey-darker;
  color: @bg-secondary;

  display: flex;
  justify-content: center;
  align-items: center;

  .transition(outline-color, background-color, opacity;);

  &:focus {
    outline-color: @bg-main;
  }

  &:hover {
    background-color: @bg-grey-darkest;
  }

  &:active {
    .filter-popup__button-image {
      .active();
    }

    .filter-popup__button-text {
      .active();
    }
  }

  @media (min-width: @tablet-width) {
    padding-top: 42px;
    padding-bottom: 42px;
    font-size: 20px;
    border-radius: 20px;
  }
}

.filter-popup__button-image {
  width: 14px;
  height: 14px;
  margin-right: 10px;
  color: @bg-secondary;

  @media (min-width: @tablet-width) {
    width: 22px;
    height: 24px;
    margin-right: 18px;
  }
}

.filter-popup__button-text {
  display: block;
  .common-font(16px, 20px, 700);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding-top: 3px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
  }
}
