.filter {
  grid-area: filter;

  background-color: @bg-grey;
  color: @bg-secondary;

  .ladder-top2down-mobile(20px);
  padding-bottom: 15px;
  padding-right: 4px;

  position: relative;
  z-index: @z-index-filter;

  &--opened {
    border-radius: 0;
  }

  @media (min-width: @desktop-width) {
    border-radius: 0;
  }
}

.filter__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;

  @media (min-width: @desktop-width) {
    justify-content: left;
  }
}

.filter__title {
  padding: 0 0 0 25px;
  margin: 0;

  .common-font(16px, 18px, 700);
  text-transform: uppercase;

  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
    width: 16px;
    height: 10px;
    background-image: url("../../../img/icons/filter.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
  }

  @media (min-width: @tablet-width) and (max-width: @desktop-width - 1) {
    display: none;
  }
}

.filter__button {
  width: 17px;
  height: 17px;

  margin: 0;
  padding: 0;

  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;

  &--state-open {
    background-image: url("../../../img/icons/filter-expand.svg");

    @media (min-width: @desktop-width) {
      display: none;
    }
  }

  &--state-close {
    background-image: url("../../../img/icons/filter-close.svg");

    @media (min-width: @desktop-width) {
      background-image: url("../../../img/icons/filter-expand.svg");
    }
  }

  &:hover {
    .hover();
  }

  &:active {
    .active();
  }

  &:focus {
    outline-color: @bg-main;
    border-radius: 4px;
  }

  &--dot {
    @media (max-width: @tablet-width - 1) {
      .visually-hide();
    }

    @media (min-width: @tablet-width) {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    width: 180px;
    text-align: left;
    background-position: center right 0;
    margin-left: auto;
  }
}

.filter__button-name {
  &--state-in-flow {
    @media (max-width: @tablet-width - 1) {
      .visually-hide();
    }

    @media (min-width: @tablet-width) {
      display: block;
      .common-font(20px, 20px, 700);
      text-transform: uppercase;
      color: @bg-secondary;
    }

    @media (min-width: @desktop-width) {
      display: none;
    }
  }

  &--state-in-popup {
    @media (max-width: @desktop-width - 1) {
      display: none;
    }

    @media (min-width: @desktop-width) {
      display: block;
      .common-font(20px, 20px, 700);
      text-transform: uppercase;
      color: @bg-secondary;
    }
  }

  &--hide {
    @media (min-width: @desktop-width) {
      display: none;
    }
  }
}

.filter__parts-of-world {
  display: none;

  @media (min-width: @tablet-width) {
    padding-left: 32px;
    display: flex;
    gap: 28px;
  }
}

.filter__popup {
  &--state-in-flow {
    display: none;

    @media (min-width: @desktop-width) {
      display: block;
      position: relative;
    }
  }

  &--state-in-popup {
    .popup();

    @media (min-width: @desktop-width) {
      display: none;
    }
  }
}
