.pagination__button {
  width: 50%;
  height: 51px;
  padding: 0;
  background-color: @fg-main;
  background-position: center;
  background-repeat: no-repeat;

  &--back {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    background-image: url("../../../img/icons/arrow-back.svg");
  }

  &--forward {
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    background-image: url("../../../img/icons/arrow-next.svg");
  }
}
