.pagination {
  @media (max-width: @tablet-width - 1) {
    position: relative;
    display: flex;
    justify-content: space-between;

    &::before {
      content: "";
      position: absolute;

      width: 1px;
      height: 100%;
      left: 50%;
      top: 0;

      background-color: @bg-lighter;
    }
  }

  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    padding: 25px 17px 25px 28px;
    box-sizing: border-box;

    background-color: @fg-main;
    border-radius: 20px;
  }
}

.pagination__button {
  box-sizing: border-box;
  width: calc(50% - 0.5px);
  height: 51px;
  padding: 0;

  display: flex;
  position: relative;

  background-color: @fg-main;
  outline-color: transparent;
  .transition(opacity, outline-color;);

  @media (min-width: @tablet-width) {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  &--back {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;

    @media (min-width: @tablet-width) {
      margin-left: auto;
      margin-right: -6px;
      border-radius: 50%;
    }
  }

  &--forward {
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;

    @media (min-width: @tablet-width) {
      border-radius: 50%;
    }
  }

  &:hover {
    .pagination__button-content {
      .hover();
    }
  }

  &:active {
    .pagination__button-content {
      .active();
    }
  }

  &:focus {
    outline-color: @bg-secondary;
    outline-offset: -7px;
  }

  &--number {
    display: none;

    @media (min-width: @tablet-width) {
      display: flex;
      width: 50px;
      height: 50px;
      .common-font(20px, 20px, 700);
      color: @fg-blue-light;
      .transition(opacity, outline-color, background-color;);

      span {
        margin: auto;
      }

      &:active {
        opacity: 1;
        background-color: @basic-yellow;
      }
    }
  }

  &--current {
    @media (min-width: @tablet-width) {
      background-color: @basic-yellow;
      .transition(opacity, outline-color, background-color;);
    }
  }
}

.pagination__button-content {
  margin: auto;
  width: 13px;
  height: 20px;

  &--back {
    transform: rotate(180deg);
  }
}
