.traveller-details-card {
  background-color: @fg-main;
  border-radius: 20px;
  position: relative;

  padding: 15px 0 23px;

  display: grid;
  grid-template-columns: 104px 1fr 72px;
  grid-template-areas:
    "image title title"
    "image subscribers ."
    "tags tags ."
    "country country country"
    "transport transport level"
    "button button button";

  @media (min-width: @tablet-width) {
    border-radius: 20px;
    padding: 33px 0 25px;
    grid-template-columns: 257px 150px 50px 60px 1fr 85px;
    grid-template-areas:
      "image title title title title transport"
      "image tags tags tags . transport"
      "image button favorite subscribers . level"
      "country country country country country country";
    align-items: start;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    grid-template-columns: 285px 62px 150px 50px 60px 1fr 174px 104px;
    grid-template-areas:
      "image title title title title . country country"
      "image . tags tags tags . country country"
      "image . button favorite subscribers . transport level";
  }

  &:hover {
    .card-hover(@fg-black);
  }
}

.traveller-details-card__wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

.traveller-details-card__title {
  grid-area: title;
  margin: 0 22px 5px 0;
  display: flex;
  justify-content: space-between;
  gap: 32px;

  outline-color: transparent;
  .transition(opacity, outline-color;);

  @media (min-width: @tablet-width) {
    margin-bottom: 19px;
    gap: 24px;
    justify-content: flex-start;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 15px;
    margin-left: 39px;
    margin-top: 46px;
    margin-bottom: 20px;
  }

  &:hover {
    .hover();
  }

  &:active {
    .active();
  }

  &:focus-within {
    .focus(@bg-secondary);
    border-radius: 4px;
  }
}

.traveller-details-card__name {
  color: @fg-blue-light;
  .common-font(20px, 20px, 700);

  &:focus {
    outline: none;
  }

  @media (min-width: @tablet-width) {
    .common-font(30px, 30px, 700);
  }

  @media (min-width: @desktop-width) {
    margin-left: 2px;
  }
}

.traveller-details-card__button {
  grid-area: button;

  color: @bg-main;
  .common-font(17px, 17px, 700);
  padding: 15px 13px 8px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  text-transform: uppercase;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    padding: 17px 0 13px;
    margin-left: -4px;
    margin-right: 4px;

    .common-font(20px, 20px, 700);
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 48px;
    margin-left: -7px;
    margin-right: 8px;
  }

  &:focus {
    outline-color: @bg-secondary;
  }
}

.traveller-details-card__status {
  grid-area: status;
  text-align: right;
  padding-right: 0;
  margin: 8px 0 0;

  @media (min-width: @desktop-width) {
    padding-right: 0;
    margin-top: 11px;
    margin-left: -2px;
  }
}

.traveller-details-card__image-wrapper {
  grid-area: image;

  display: block;
  margin-left: 18px;
  margin-right: 16px;
  margin-bottom: 0;

  @media (min-width: @tablet-width) {
    margin-left: 35px;
    margin-right: 33px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }

  &:focus {
    .focus(@bg-secondary);
    border-radius: 4px;
  }
}

.traveller-details-card__image {
  display: block;
  width: 70px;
  height: 70px;
  .transition(transform);

  @media (min-width: @tablet-width) {
    width: 190px;
    height: 190px;
    border-radius: 20px;
  }

  @media (min-width: @desktop-width) {
    width: 285px;
    height: 285px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  &:hover {
    transform: scale(1.1);

    @media (min-width: @desktop-width) {
      transform: scale(1.03);
    }
  }

  &:focus {
    outline: none;
  }
}

.traveller-details-card__favorite {
  grid-area: favorite;
  position: absolute;

  top: 54px;
  left: 68px;
  margin: 0;

  @media (min-width: @tablet-width) {
    position: relative;
    top: 0;
    left: 0;
  }

  @media (min-width: @desktop-width) {
    margin-left: -7px;
  }
}

.traveller-details-card__subscribers {
  grid-area: subscribers;
  margin: 0;
  color: @bg-main;
  .common-font(14px, 16px, 700);

  @media (min-width: @tablet-width) {
    .common-font(20px, 20px, 700);
    align-self: center;
    margin-left: 2px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 48px;
    margin-left: -1px;
  }
}

.traveller-details-card__tags {
  grid-area: tags;
  margin-top: 13px;
  margin-bottom: 14px;
  margin-left: 25px;

  color: @fg-special-grey;

  &--rogovaya {
    margin-top: 16px;
  }

  @media (min-width: @tablet-width) {
    margin: 0 0 46px 4px;
    color: @fg-black;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 45px;
    margin-left: 0;
    width: 250px;
  }
}

.traveller-details-card__group {

  position: relative;

  &::before {
    content: "";
    position: absolute;

    top: 7px;
    left: 0;

    width: 100%;
    height: 1px;

    background-color: @bg-lighter;

    z-index: 1;
  }
}

.traveller-details-card__subtitle {
  .common-font(15px, 16px, 400);
  position: relative;
  z-index: 2;

  margin-left: 17px;
  margin-top: 0;
  margin-bottom: 17px;
  padding-left: 10px;
  padding-right: 10px;

  width: max-content;
  background-color: @fg-main;
  color: @fg-special-grey;

  &--transport {
    margin-bottom: 14px;
  }

  &--transport-demin {
    margin-bottom: 20px;
  }

  &--country-rogovaya {
    margin-bottom: 15px;
  }

  &--level {
    margin-bottom: 8px;
  }
}

.traveller-details-card__country-wrapper {
  grid-area: country;

  @media (min-width: @tablet-width) {
    margin-top: 17px;

    .traveller-details-card__subtitle {
      margin-left: 73px;
      margin-bottom: 19px;
    }
  }

  @media (min-width: @desktop-width) {
    margin-top: 48px;

    .traveller-details-card__subtitle {
      display: none;
    }

    &::before {
      content: none;
    }
  }
}

.traveller-details-card__country {
  list-style-type: none;
  padding-left: 25px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  @media (min-width: @tablet-width) {
    align-items: center;
    flex-direction: row;
    gap: 25px;
    margin-left: 35px;
    padding-left: 0;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin: 0;
  }
}

.traveller-details-card__transport-wrapper {
  grid-area: transport;

  @media (min-width: @tablet-width) {
    .traveller-details-card__subtitle {
      display: none;
    }

    &::before {
      content: none;
    }
  }
}

.traveller-details-card__transport {
  margin-bottom: 21px;

  &--demin {
    margin-bottom: 19px;
  }

  &--smolov {
    margin-bottom: 19px;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    align-items: flex-start;
    align-self: center;

    margin: 9px 0 48px;
    padding: 0;
  }
}

.traveller-details-card__level-wrapper {
  grid-area: level;

  .traveller-details-card__subtitle {
    margin-left: 0;
    margin-right: 0;
  }

  @media (min-width: @tablet-width) {
    justify-self: left;
    margin-top: -8px;
    margin-left: -2px;

    .traveller-details-card__subtitle {
      display: none;
    }

    &::before {
      content: none;
    }
  }

  @media (min-width: @desktop-width) {
    margin-top: -6px;
  }
}

.traveller-details-card__level {
  color: @fg-blue-light;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 7px;

  &--mobile {
    display: block;
  }

  &--tablet {
    display: none;
  }

  @media (min-width: @tablet-width) {
    width: 64px;
    height: 64px;
    margin-left: 0;

    &--mobile {
      display: none;
    }

    &--tablet {
      display: block;
    }
  }
}
