.traveller-details {
  grid-area: traveller-details;

  background-color: @bg-lighter;

  padding-bottom: 28px + @block-overlap-mobile;

  @media (min-width: @tablet-width) {
    padding-bottom: 62px + @block-overlap-tablet;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 79px + @block-overlap-desktop;
  }
}

.traveller-details__list {
  padding: 0 0 20px;
  list-style-type: none;

  @media (min-width: @desktop-width) {
    width: 100%;
  }
}

.traveller-details__item + .traveller-details__item {
  margin-top: 10px;
}

.traveller-details__show-more {
  color: @fg-blue-light;
  .common-font(17px, 30px, 700);
  text-transform: uppercase;

  display: flex;

  &::before {
    content: "";
    width: 18px;
    height: 18px;
    margin-top: 3px;
    margin-right: 15px;

    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../../../img/icons/plus-more.svg");
  }
}

.traveller-details__pagination {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;

  @media (min-width: @desktop-width) {
    width: 100%;
  }
}

.traveller-details__buttons {
  width: 100%;
  display: flex;
}
