.traveller-details {
  background-color: @bg-lighter;

  padding-bottom: 28px;
}

.traveller-details__list {
  padding: 0 0 20px;
  list-style-type: none;
}

.traveller-details__item + .traveller-details__item {
  margin-top: 10px;
}
