.agenda {
  list-style-type: none;
  padding-left: 0;
  position: relative;
}

.agenda__item {
  display: grid;
  grid-template-columns: 1fr 35px;
  grid-template-areas: "name flag" "plan plan";
  grid-row-gap: 18px;
  align-items: center;
  position: relative;

  &--error {
    .agenda__plan {
      border: 1px solid @error-border;
    }

    &::after {
      content: "Это поле должно быть заполнено";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: auto;
      box-sizing: border-box;
      padding: 20px 21px 16px;
      color: @error;
      background-color: @bg-error;
      border: 1px solid @error-border;
      border-top: none;
      font: inherit;
    }
  }

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 70px;
    grid-row-gap: 30px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 271px;
    grid-row-gap: 26px;
    grid-template-areas: "name flag" "plan .";

    &--error::after {
      width: calc(100% - 271px);
    }
  }
}

.agenda__item + .agenda__item {
  margin-top: 27px;

  @media (min-width: @tablet-width) {
    margin-top: 51px;
  }
}

.agenda__country {
  grid-area: name;
  display: block;

  .common-font(18px, 18px, 500);
  letter-spacing: 0.01em;

  @media (min-width: @tablet-width) {
    .common-font(30px, 30px, 700);
  }
}

.agenda__flag {
  grid-area: flag;
  display: block;
  text-align: right;

  @media (min-width: @tablet-width) {
    width: 70px;
    height: 47px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 85px;
  }
}

.agenda__plan {
  grid-area: plan;
  box-sizing: border-box;
  height: 220px;
  padding: 11px 14px;

  font-family: inherit;
  .common-font(16px, 22px, 400);
  color: @fg-special-grey;
  resize: none;
  .transition(color, border-color;);

  border: 1px solid @fg-border;

  &:hover {
    color: fade(@fg-special-grey, 30%);
    border-color: @fg-border-hover;
  }

  &:active,
  &:focus {
    outline: none;
    border-color: @bg-main;
  }

  @media (min-width: @tablet-width) {
    padding: 18px 19px;
    .common-font(20px, 23px, 400);
  }

  @media (min-width: @desktop-width) {
    padding: 26px 25px;
    line-height: 20px;
  }
}

.agenda__marker {
  position: absolute;
}
