.calendar__month {
  margin-bottom: 22px;
}

.calendar__days {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 22px;

  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 31px);
}
