.my-plans {
  .ladder-down2top-mobile(30px);
  .ladder__margin-top(@block-overlap-mobile);
  padding-top: 28px;
  background-color: @bg-grey-blue;
  color: @fg-blue-light;

  position: relative;
  z-index: @z-index-my-plans;

  @media (min-width: @tablet-width) {
    padding-top: 57px;
    .ladder-down2top-common(76px, @block-overlap-form-tablet);
    .ladder__margin-top(@block-overlap-form-tablet);
  }

  @media (min-width: @desktop-width) {
    padding-top: 54px;
    padding-left: 67px;
    .ladder-down2top-desktop(66px);
    .ladder__margin-top(@block-overlap-desktop);
  }
}

.my-plans__wrapper {
  padding-left: 0;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 618px;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-form-width;
  }
}

.my-plans__title {
  margin-bottom: 29px;

  @media (min-width: @tablet-width) {
    margin-bottom: 48px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 7px;
  }
}
