.my-plans {
  .common-block-overlap-down2top(30px);
  .common-block-overlap__margin-top();
  padding-top: 28px;
  background-color: @bg-grey-blue;
  color: @fg-blue-light;

  position: relative;
  z-index: @z-index-my-plans;
}

.my-plans__title {
  margin-bottom: 29px;
}
