.personal {
  padding-top: 19px;
  .ladder__margin-top(@block-overlap-mobile);
  .ladder__padding-bottom(34px, @block-overlap-mobile);
  background: @bg-lighter;

  position: relative;
  z-index: @z-index-personal;

  &--form {
    .ladder__margin-top(0);
  }

  @media (min-width: @tablet-width) {
    .ladder__padding-top(58px, @block-overlap-tablet);
    .ladder__padding-bottom(56px, @block-overlap-form-tablet);
    .ladder__margin-top(@block-overlap-tablet);
  }

  @media (min-width: @desktop-width) {
    padding-top: 69px;
    margin-top: 0;
    .ladder__padding-bottom(54px, @block-overlap-desktop);
  }
}

.personal__wrapper {
  padding-left: 0;

  @media (min-width: @tablet-width) {
    width: 618px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 64px;
  }
}
