.personal {
  .ladder__padding-top(24px);
  .ladder__margin-top();
  .ladder__padding-bottom(34px);
  @break-point: @block-overlap + 3px;
  background: linear-gradient(@basic-yellow @break-point, @bg-lighter @break-point);

  position: relative;
  z-index: @z-index-personal;
}
