.personal-form {
  display: grid;
  grid-template-areas:
    "level photo"
    "change-photo change-photo"
    "tags tags"
    "transport transport";
  grid-row-gap: 15px;
  grid-column-gap: 35px;
  margin-bottom: 0;

  @media (min-width: @tablet-width) {
    grid-template-columns: 131px 1fr 133px;
    grid-template-areas:
      "level transport photo"
      "change-photo change-photo change-photo"
      "tags tags tags";
    grid-column-gap: 59px;
    grid-row-gap: 40px;
  }

  @media (min-width: @desktop-width) {
    margin-top: -259px;
    grid-template-columns: 1fr 95px 285px;
    grid-column-gap: 44px;
    grid-row-gap: 0;
    grid-template-areas:
      ". level photo"
      ". . change-photo"
      "tags transport transport";
  }
}

.personal-form__level {
  margin: 0 0 0 16px;
  grid-area: level;
  color: @fg-blue-light;

  @media (min-width: @tablet-width) {
    margin-left: 37px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
    margin-top: 42px;
    color: @fg-main;
  }
}

.personal-form__photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  grid-area: photo;
  margin-right: 19px;

  @media (min-width: @tablet-width) {
    width: 94px;
    height: 94px;
    border-radius: 7px;
    margin-right: 35px;
    margin-left: 4px;
  }

  @media (min-width: @desktop-width) {
    width: 190px;
    height: 190px;
    margin-left: 0;
    border-radius: 0;
    margin-top: -4px;
  }
}

.personal-form__button {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 7px;
  background-color: @bg-grey-blue;
  color: @bg-main;
  .common-font(20px, 18px, 500);
  text-transform: uppercase;
  grid-area: change-photo;
  .transition(outline, background-color, color;);

  &:focus {
    outline-color: @bg-secondary;
  }

  &:hover {
    background-color: @bg-grey-extra-darkest;
  }

  &:active {
    background-color: @bg-grey-blue;
    color: fade(@bg-main, 30%);
  }

  @media (min-width: @tablet-width) {
    border-radius: 10px;
    padding-top: 22px;
    padding-bottom: 20px;
    margin-bottom: 12px;

    letter-spacing: 0.09em;
  }

  @media (min-width: @desktop-width) {
    width: 190px;
    margin-bottom: 27px;
    margin-top: -4px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;

    &--desktop {
      display: none;
    }
  }
}

.personal-form__tags {
  grid-area: tags;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 4px;
  padding: 0;

  .chooser-form-group__title {
    @media (min-width: @tablet-width) {
      left: 287px;
    }

    @media (min-width: @desktop-width) {
      left: 30px;
    }
  }

  @media (min-width: @desktop-width) {
    margin-right: 56px;
  }
}

.personal-form__textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 17px 22px 19px 22px;
  letter-spacing: -0.14em;
  border: none;
  resize: none;

  color: fade(@fg-special-grey, 60%);
  background-color: transparent;
  .common-font(16px, 18px, 400);
  .transition(color);

  &:focus {
    outline: none;
    color: @fg-special-grey;
  }

  &:active {
    color: @fg-special-grey;
  }

  @media (min-width: @tablet-width) {
    .common-font(20px, 22px, 400);
    padding: 36px 40px;
  }

  @media (min-width: @desktop-width) {
    .common-font(20px, 20px, 400);
    margin-right: 56px;
  }
}

.personal-form__transport {
  grid-area: transport;
  margin-left: 0;
  margin-right: 0;
  padding-top: 4px;
  padding-bottom: 15px;

  .chooser-form-group__title {
    @media (min-width: @tablet-width) {
      left: 75px;
    }

    @media (min-width: @desktop-width) {
      left: 145px;
    }
  }
}
