.range-control__title {
  margin-bottom: 8px;
}

.range-control__field-with-buttons {
  display: flex;
  width: 100%;
  border: 1px solid @fg-border;
  border-radius: 4px;
}

.range-control__field {
  box-sizing: border-box;
  height: 43px;
  width: 136px;
  text-align: center;
  border: none;
}

.range-control__button {
  flex-grow: 0;
  width: 42px;
  height: 43px;
  padding: 0;

  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;

  &--minus {
    background-image: url("../../../img/icons/range-control-minus.svg");
  }

  &--plus {
    background-image: url("../../../img/icons/range-control-plus.svg");
  }
}
