.steps {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
}

.steps__item {
  border-radius: 10px;
  background-color: @fg-main;
  padding: 24px 25px 21px;

  &--dates .steps__button {
    width: 221px;
    margin-left: 0;

    @media (min-width: @tablet-width) {
      width: 284px;
    }

    @media (min-width: @desktop-width) {
      width: 287px;
    }
  }

  &--entertainment {
    padding-bottom: 9px;
  }

  &--route {
    padding-bottom: 9px;
    padding-left: 24px;

    .steps__button--next {
      margin-top: 23px;
    }
  }

  @media (min-width: @tablet-width) {
    padding: 48px 40px 56px;
    border-radius: @block-overlap-form-tablet;

    &--route {
      padding-top: 50px;
      padding-left: 42px;

      .steps__title {
        margin-bottom: 32px;
      }
    }
  }

  @media (min-width: @desktop-width) {
    padding: 100px 160px 106px;
    border-radius: @block-overlap-tablet;

    &--route {
      padding-top: 97px;

      .steps__title {
        margin-bottom: 34px;
      }

      .steps__button {
        margin-top: 0;
      }
    }
  }
}

.steps__item + .steps__item {
  margin-top: 10px;

  @media (min-width: @tablet-width) {
    margin-top: 39px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 47px;
  }
}

.steps__title {
  margin: 0 0 16px;

  @media (min-width: @tablet-width) {
    margin-bottom: 35px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 33px;
  }
}

.steps__description {
  margin-bottom: 20px;
  .common-font(16px, 22px, 400);
  color: @fg-special-grey;

  @media (min-width: @tablet-width) {
    margin-bottom: 38px;

    display: flex;
    flex-direction: column;

    .common-font(20px, 24px, 400);
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 55px;
    width: 581px;
  }
}

.steps__buttons {
  @media (min-width: @tablet-width) {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
  }
}

.steps__button {
  width: 230px;
  padding: 7px 7px 4px;
  margin-left: -4px;
  border: none;
  justify-content: center;

  .common-font(17px, 30px, 700);
  color: @fg-blue-light;
  text-transform: uppercase;

  outline-color: transparent;
  .transition(opacity, outline-color, background-color;);

  .button__icon-right,
  .button__icon-left {
    display: none;

    @media (min-width: @tablet-width) {
      display: block;
    }
  }

  &:hover {
    background-color: @special-yellow-dark;
  }

  &--next {
    margin-bottom: 7px;
  }

  &--back {
    background-color: transparent;
    padding: 5px 5px 0;
    .transition(opacity, outline-color;);

    &:hover {
      background-color: transparent;
      color: fade(@fg-blue-light, 60%);
    }

    &:active {
      color: fade(@fg-blue-light, 30%);
    }
  }

  &:focus {
    outline-color: @bg-secondary;
  }

  @media (min-width: @tablet-width) {
    width: 285px;
    box-sizing: border-box;
    padding: 29px 37px 27px 34px;
    border-radius: 20px;

    .common-font(24px, 24px, 700);
    text-transform: none;

    &--next {
      margin-bottom: 0;
    }

    &--back {
      width: 204px;
      text-align: right;
      padding-right: 12px;
      padding-left: 12px;
      margin-right: -12px;
      gap: 19px;
    }
  }

  @media (min-width: @desktop-width) {
    padding-right: 33px;
    margin-left: 0;
    width: 286px;

    &--no-line::before {
      content: none;
    }

    &--back {
      width: 228px;
      margin-right: -31px;
    }
  }
}
