.step-dates {
  display: grid;
  grid-template-areas:
    "travellers"
    "dates"
    "with-children"
    "calendar"
    "buttons";
  grid-row-gap: 20px;

  @media (min-width: @tablet-width) {
    grid-template-areas:
      "travellers"
      "with-children"
      "dates"
      "calendar"
      "buttons";
    grid-row-gap: 25px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 550px 1fr;
    grid-template-areas:
      "travellers with-children"
      "dates ."
      "calendar calendar"
      "buttons buttons";
    padding-top: 30px;
    border-top: 1px solid @fg-border-lighter;
    grid-row-gap: 12px;
    align-items: center;
  }
}

.step-dates__item {
  margin-bottom: 20px;
}

.step-dates__travellers {
  grid-area: travellers;
}

.step-dates__with-children {
  grid-area: with-children;

  margin-bottom: 2px;

  @media (min-width: @tablet-width) {
    margin-bottom: -2px;
  }

  @media (min-width: @desktop-width) {
    text-align: right;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: auto;
  }
}

.step-dates__dates {
  grid-area: dates;
  margin-bottom: -2px;

  @media (min-width: @tablet-width) {
    margin-bottom: 32px;
    position: relative;

    .range-control__title-unit {
      margin-right: -2px;
    }

    &::before {
      position: absolute;
      content: "";

      right: -40px;
      top: 46px;

      width: 40px;
      height: 15px;

      background-color: @bg-dates-decoration;
    }
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 19px;

    &::before {
      content: none;
    }
  }
}

.step-dates__calendar {
  grid-area: calendar;
  margin-bottom: 4px;

  @media (min-width: @tablet-width) {
    margin-bottom: 18px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 40px;
  }
}

.step-dates__button {
  grid-area: buttons;
}
