.button {
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: none;

  &--primary {
    background-color: @basic-yellow;
  }

  &--secondary {
    background-color: @special-orange;
  }
}

.button--form-round {
  border-radius: 50%;
}

.button--form-oval {
  border-radius: 25px;
}

.button--form-rectangle {
  border-radius: 10px;
}
