.logo {
  width: 96px;
  height: 15px;
  outline-color: transparent;
  .transition(opacity, outline-color;);

  &--mobile {
    @media (min-width: @tablet-width) {
      display: none;
    }
  }

  &--tablet {
    @media (max-width: @tablet-width - 1) {
      display: none;
    }
  }

  &:hover {
    .hover();
  }

  &:active {
    .active();
  }

  &:focus {
    .focus();
    border-radius: 4px;
  }

  @media (min-width: @tablet-width) {
    width: 166px;
    height: 42px;
  }

  @media (min-width: @desktop-width) {
    width: 200px;
    height: 50px;
  }
}
