.about {
  background-color: @bg-main;
  color: @fg-main;
  padding-top: 33px;
  padding-bottom: 82px;

  .ladder__bottom(@block-overlap-mobile);

  background-image: url("../../../img/backgrounds/about-mobile.png");
  background-size: 292px auto;
  background-position: 20px 0;
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../../../img/backgrounds/about-mobile@2x.png");
  }

  z-index: @z-index-about;
  position: relative;

  @media (min-width: @tablet-width) {
    .ladder__bottom(@block-overlap-tablet);
    padding-top: 41px;
    padding-bottom: 89px;

    background-repeat: no-repeat;
    background-position: calc(50% + 189px) 49px;
    background-image: url("../../../img/backgrounds/about-tablet.png");
    background-size: 376px 548px;

    @media (min-resolution: 2dppx) {
      background-image: url("../../../img/backgrounds/about-tablet@2x.png");
    }
  }

  @media (min-width: @desktop-width) {
    .ladder__bottom(@block-overlap-desktop);
    padding-top: 42px;
    padding-bottom: 163px;

    background-repeat: no-repeat;
    background-position: calc(50% + 342px) 0;
    background-image: url("../../../img/backgrounds/about-desktop.png");
    background-size: 630px 659px;

    @media (min-resolution: 2dppx) {
      background-image: url("../../../img/backgrounds/about-desktop@2x.png");
    }
  }
}

.about__wrapper {
  padding-left: 24px;
  padding-right: 27px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    padding-left: 34px;
    padding-right: 345px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 70px;
    padding-right: 632px;
  }
}

.about__title {
  margin-bottom: 19px;

  @media (min-width: @tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 57px;
  }
}

.about__description {
  margin-bottom: 19px;

  @media (min-width: @tablet-width) {
    margin-bottom: 31px;

    br {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 38px;
  }
}

.about__slogan {
  @media (min-width: @tablet-width) {
    margin-bottom: 52px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 85px;
    display: flex;
    flex-direction: column;
  }
}

.about__button {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    padding: 29px 74px 27px 33px;
    width: 275px;
    box-sizing: border-box;
    .common-font(24px, 24px, 700);
    color: @fg-blue-light;
  }
}
