.about {
  background-color: @bg-lighter;
}

.about__back {
  padding-top: 33px;
  padding-bottom: 82px;

  .ladder__bottom(@block-overlap-mobile);

  color: @fg-main;
  background-color: @bg-secondary;
  background-image: url("../img/backgrounds/about-mobile.png"),
    url("../img/backgrounds/about-rectangle-mobile.svg");
  background-size: 292px auto, 113px 132px;
  background-position: calc(50% + 4px) 0, calc(50% - 110px) -11px;
  background-repeat: no-repeat, no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/backgrounds/about-mobile@2x.png"),
      url("../img/backgrounds/about-rectangle-mobile.svg");
  }

  position: relative;

  @media (min-width: @tablet-width) {
    padding-top: 41px;
    padding-bottom: 89px;

    .ladder__bottom(@block-overlap-tablet);

    background-color: @bg-dark;
    background-position: calc(50% + 189px) 49px, calc(50% - 1px) 0;
    background-image: url("../img/backgrounds/about-tablet.png"),
      url("../img/backgrounds/about-rectangle-tablet.svg");
    background-size: 376px 548px, 688px 212px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/backgrounds/about-tablet@2x.png"),
        url("../img/backgrounds/about-rectangle-tablet.svg");
    }
  }

  @media (min-width: @desktop-width) {
    padding-top: 42px;
    padding-bottom: 163px;

    .ladder__bottom(@block-overlap-desktop);

    background-color: @bg-secondary;
    background-position: calc(50% + 345px) 0, calc(50% - 552px) -20px;
    background-image: url("../img/backgrounds/about-desktop.png"),
      url("../img/backgrounds/about-rectangle-desktop.svg");
    background-size: 630px 659px, 212px 212px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/backgrounds/about-desktop@2x.png"),
        url("../img/backgrounds/about-rectangle-desktop.svg");
    }
  }
}

.about__wrapper {
  padding-left: 24px;
  padding-right: 27px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    padding-left: 34px;
    padding-right: 345px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 70px;
    padding-right: 632px;
  }
}

.about__title {
  margin-bottom: 19px;

  @media (min-width: @tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 57px;
  }
}

.about__description {
  margin-bottom: 19px;

  @media (min-width: @tablet-width) {
    margin-bottom: 31px;

    br {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 38px;
  }
}

.about__slogan {
  @media (min-width: @tablet-width) {
    margin-bottom: 52px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 85px;
    display: flex;
    flex-direction: column;
  }
}

.about__button {
  display: none;

  @media (min-width: @tablet-width) {
    display: flex;
    padding: 29px 33px 27px 33px;
    width: 275px;
    box-sizing: border-box;
    .common-font(24px, 24px, 700);
    color: @fg-blue-light;
  }
}
