.address {
  background-color: @basic-yellow;
  color: @fg-blue-light;

  .ladder-top2down-mobile(32px);
  padding-bottom: 35px;

  position: relative;
  z-index: @z-index-address;

  @media (min-width: @tablet-width) {
    .ladder-top2down-tablet(49px);
    padding-bottom: 84px;
  }

  @media (min-width: @desktop-width) {
    .ladder-top2down-desktop(56px);
    padding-bottom: 57px;
  }
}

.address__wrapper {
  @media (min-width: @tablet-width) {
    box-sizing: border-box;
    padding-left: 35px;
    padding-right: 35px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 223px;
    padding-right: 75px;
  }
}

.address__text {
  .common-font(16px, 22px, 700);
  font-style: normal;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: 45px 15px 1fr;

  margin-top: 0;
  margin-bottom: 32px;

  &::before {
    content: "";
    grid-column: 1;
    grid-row: 1 / 3;

    width: 45px;
    height: 45px;
    margin-top: -2px;
    margin-left: -1px;
    border-radius: 50%;

    background-color: @bg-contact;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../../../img/icons/location.svg");
    background-size: 21px 21px;
  }

  @media (min-width: @tablet-width) {
    .common-font(28px, 28px, 700);
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 44px;

    &::before {
      width: 68px;
      height: 68px;
      background-size: 32px 32px;
      margin-right: 21px;
    }
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;

    &::before {
      width: 90px;
      height: 90px;
      background-size: 42px 42px;
      margin-right: 26px;
    }
  }
}

.address__part {
  grid-column: 3;
}

.address__button {
  background-color: transparent;
  color: @fg-blue-light;
  .common-font(18px, 18px, 700);
  text-align: left;

  padding-top: 20px;
  padding-bottom: 18px;
  padding-left: 19px;
  margin-left: -1px;
  background-position: right 19px center;
  width: 100%;
  border: 3px solid @fg-blue-light;

  &:focus {
    outline-color: @bg-main;
  }

  @media (min-width: @tablet-width) {
    .common-font(24px, 24px, 700);
    padding-top: 28px;
    padding-bottom: 24px;
    padding-left: 35px;

    background-position: right 30px center;
  }

  @media (min-width: @desktop-width) {
    box-sizing: border-box;
    width: 324px;
  }
}

.address__map {
  width: 100%;

  .ladder__margin-top(@block-overlap-mobile);

  position: relative;
  z-index: @z-index-map;


  @media (min-width: @tablet-width) {
    .ladder__margin-top(@block-overlap-tablet);
    height: 581px;
  }

  @media (min-width: @desktop-width) {
    .ladder__margin-top(@block-overlap-desktop);
    height: 584px;
  }
}
