.address__wrapper {
  background-color: @basic-yellow;
  color: @fg-blue-light;

  .common-block-overlap-top2down(33px);
  padding-bottom: 35px;

  position: relative;
  z-index: @z-index-address;
}

.address__text {
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

.address__button {
  background-color: transparent;
  color: @fg-blue-light;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
}

.address__map {
  width: 100%;

  .common-block-overlap__margin-top();

  position: relative;
  z-index: @z-index-map;
}
