.contacts {
  background-color: @bg-secondary;
  color: @fg-main;

  .ladder-top2down(72px);
  padding-bottom: 44px;

  position: relative;
  z-index: @z-index-contacts;
}

.contacts__additional-padding() {
  padding-left: 25px;
  padding-right: 25px;
}

.contacts__header {
  .contacts__additional-padding();
}

.contacts__contact {
  .contacts__additional-padding();
}

.contacts__contact .contact__button {
  color: @basic-yellow;
}

.contacts__slogan {
  .contacts__additional-padding();
  margin-bottom: 17px;

  @media (min-width: @tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 42px;
  }
}

.contacts__authorize {
  display: inline;
  color: @basic-yellow;
}
