.destination {
  .ladder-top2down(101px);
  padding-bottom: 34px;

  background-color: @bg-lighter;

  position: relative;
  z-index: @z-index-destinations;
}

.destination__header {
  padding-left: 24px;
  padding-right: 27px;
  padding-bottom: 60px;
  box-sizing: border-box;
}

.destination__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
