.intro {
  padding-bottom: 30px;

  color: @fg-main;
  background-color: @bg-main;
  background-image: url("../../../img/backgrounds/traveller-illustration-mobile.png"),
    url("../../../img/backgrounds/globe-back-mobile.png"),
    linear-gradient(to bottom, @bg-main 690px, @bg-secondary 690px);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: calc(50% + 16px) 149px, center 0, 0 0;
  background-size: 192px 255px, 100% 404px, 100% 100%;

  @media (min-resolution: 2dppx) {
    background-image: url("../../../img/backgrounds/traveller-illustration-mobile@2x.png"),
      url("../../../img/backgrounds/globe-back-mobile@2x.png"),
      linear-gradient(to bottom, @bg-main 690px, @bg-secondary 690px);
  }

  @media (min-width: @tablet-width) {
    padding-bottom: 140px;

    background-color: @bg-dark;
    background-image: url("../../../img/backgrounds/traveller-illustration-tablet.png"),
      url("../../../img/backgrounds/globe-back-tablet.png");
    background-position: calc(50% + 87px) 309px, center 288px;
    background-size: 372px 453px, 100% auto;

    @media (min-resolution: 2dppx) {
      background-image: url("../../../img/backgrounds/traveller-illustration-tablet@2x.png"),
        url("../../../img/backgrounds/globe-back-tablet@2x.png");
    }
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 147px;

    background-image: url("../../../img/backgrounds/traveller-illustration-desktop.png"),
      url("../../../img/backgrounds/globe-back-desktop.png");
    background-position: calc(50% + 100px) bottom, center 0;
    background-size: 431px 640px, 100%;

    @media (min-resolution: 2dppx) {
      background-image: url("../../../img/backgrounds/traveller-illustration-desktop@2x.png"),
        url("../../../img/backgrounds/globe-back-desktop@2x.png");
    }
  }
}

.intro__wrapper {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}
