.promo {
  padding-top: 0;
  padding-bottom: 39px;

  grid-row: 2;
  grid-column: 1 / -1;

  background: linear-gradient(to bottom, @bg-main 81px, @bg-secondary 81px);

  @media (min-width: @tablet-width) {
    padding-top: 0;
    margin-top: -140px;

    background: linear-gradient(to bottom, transparent 140px, @bg-dark 140px);
  }

  @media (min-width: @desktop-width) {
    margin-top: -231px;
    padding-bottom: 121px;

    background: transparent none;
  }
}

.promo__list {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;

  counter-reset: items;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
  }
}

.promo__font() {
  .common-font(18px, 18px, 700);

  @media (min-width: @tablet-width) {
    .common-font(24px, 24px, 700);
  }
}

.promo__item {
  @overlap: 20px;
  @vertical-padding: 22px;

  position: relative;
  border-radius: (@overlap / 2);
  padding-top: @vertical-padding;
  padding-right: 21px;
  padding-left: 24px;

  .promo__font();
  color: @bg-main;

  &--destination {
    background-color: @special-orange;
  }

  &--idea {
    background-color: @special-orange-dark;
  }

  &--traveller {
    background-color: @special-yellow-dark;
  }

  &--trip {
    background-color: @basic-yellow;
  }

  &::after {
    position: absolute;
    counter-increment: items;
    content: counter(items);
    .promo__font();
    color: @fg-main;

    right: 22px;
    top: 22px;
    width: 10px;
    height: 18px;
  }

  &:not(:first-child) {
    margin-top: @overlap * -1;
  }

  &:last-child {
    padding-bottom: @vertical-padding;
  }

  &:not(:last-child) {
    padding-bottom: @vertical-padding + @overlap;
  }

  @media (min-width: @tablet-width) and (max-width: @desktop-width - 1) {
    @overlap: 42px;

    padding-top: 31px;
    padding-right: 33px;
    padding-left: 33px;
    margin: 0;
    border-radius: 0;

    &:first-child {
      margin-right: @overlap * -1;
      border-top-left-radius: (@overlap / 2);
    }

    &:nth-child(2) {
      border-top-left-radius: (@overlap / 2);
      border-top-right-radius: (@overlap / 2);
    }

    &:nth-child(3) {
      margin-right: @overlap * -1;
      border-bottom-left-radius: (@overlap / 2);
    }

    &:last-child {
      border-bottom-left-radius: (@overlap / 2);
      border-bottom-right-radius: (@overlap / 2);
      padding-bottom: 61px;
    }

    &:not(:first-child) {
      margin-top: 0;
    }

    &:not(:last-child) {
      padding-bottom: 61px;
    }

    &::after {
      left: 33px;
      top: 89px;
      .common-font(30px, 30px, 700);
    }
  }

  @media (min-width: @desktop-width) {
    @overlap: 30px;
    @base-width: 315px;
    @padding-bottom--desktop: 29px;
    @border-radius--desktop: 20px;

    border-radius: @border-radius--desktop 0 0 @border-radius--desktop;

    box-sizing: border-box;
    padding: 30px 30px @padding-bottom--desktop;

    &::after {
      right: 37px + @overlap;
      top: 29px;
    }

    &:first-child {
      padding-left: 34px;
      padding-bottom: @padding-bottom--desktop;
      width: @base-width + @overlap;
    }

    &:not(:first-child) {
      width: @base-width + @overlap * 2;
      margin-right: 0;
      margin-top: 0;
      padding-left: 30px;
      padding-bottom: @padding-bottom--desktop;
      margin-left: @overlap * -1;

      &::after {
        right: 36px + @overlap;
      }
    }

    &:last-child {
      width: @base-width;
      border-top-right-radius: @border-radius--desktop;
      border-bottom-right-radius: @border-radius--desktop;

      &::after {
        right: 36px;
      }
    }
  }
}
