.review {
  background-color: @bg-main;
  color: @fg-main;
  padding-top: 48px;
  z-index: 1;
}

.review__block {
  margin: 0;
}

.review__text() {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
}

.review__author {
  .review__text();
  .selected();
}
