.services {
  background-color: @bg-light;
  color: @fg-special-grey;

  .common-block-overlap-top2down(53px);
  padding-bottom: 38px;

  position: relative;
  z-index: @z-index-services;
}

.services__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 25px;
}

.services__title {
  width: 107px;
}

.services__list {
  margin: 0;
  padding: 0 0 31px 25px;
  list-style-type: none;
}

.services__show-rates {
  background-color: transparent;
  color: @fg-blue-darker;
}
