.slogan {
  box-sizing: border-box;
  padding-top: 21px;
  z-index: 2;

  @media (min-width: @tablet-width) {
    padding-top: 70px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 105px;
    grid-row: 1;
    grid-column: 1;
  }
}

.slogan__text {
  .common-font(36px, 40px, 700);
  text-align: center;
  position: relative;
  margin-top: 0;
  margin-bottom: 245px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;

    .common-font(60px, 70px, 700);
  }

  @media (min-width: @desktop-width) {
    text-align: left;
    margin-top: 0;
    margin-bottom: 101px;
    padding-left: 67px;
  }
}

.slogan__wrapper {
  display: flex;
  min-height: 404px;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    min-height: 364px;
  }

  @media (min-width: @desktop-width) {
    min-height: 0;
  }
}

.slogan__contact-buttons {
  margin-top: -2px;
  margin-bottom: -22px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}
