.traveller {
  background-color: @bg-secondary;
  color: @fg-main;

  padding-top: 68px + @block-overlap;
  padding-bottom: 34px;

  margin-top: (@block-overlap * -1);

  border-bottom-left-radius: @block-overlap;
  border-bottom-right-radius: @block-overlap;

  position: relative;
  z-index: @z-index-travelers;
}

.traveller__header {
  padding-left: 24px;
  padding-right: 27px;
  padding-bottom: 54px;
  box-sizing: border-box;
}

.traveller__item {
  background-color: @bg-extra-light;
}

.traveller__button {
  padding: 22px;
  height: 61px;
  box-sizing: border-box;

  font-size: 18px;
  line-height: 18px;
  font-weight: 700;

  background-color: @basic-yellow;
  color: @fg-blue-light;
}

.traveller__list {
  .common-list();
}
