.menu-content {
  .common-font(30px, 35px, 500);
  padding-top: 45px;
  padding-bottom: 29px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    padding-left: 97px;
    padding-right: 97px;
    padding-bottom: 75px;
  }
}

.menu-content__list {
  flex-direction: column;

  margin-bottom: 51px;
  text-align: center;

  @media (min-width: @tablet-width) {
    text-align: left;
    padding-top: 50px;
    margin-bottom: 128px;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.menu-content__contact {
  margin-bottom: 29px;

  @media (min-width: @tablet-width) {
    margin-bottom: 111px;
  }
}

.menu-content__contact .contact__button {
  color: @bg-secondary;
}

.menu-content__authorize {
  margin-bottom: 51px;
  padding-top: 12px;
  padding-bottom: 8px;
  width: 100%;
  text-transform: uppercase;
  .common-font(17px, 30px, 700);

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.menu-content__social {
  @media (min-width: @tablet-width) {
    justify-content: flex-start;
  }
}

.menu-content__social .social__button {
  background-color: @fg-main;
}
