.page-footer {
  background-color: @fg-main;
  color: @fg-special-grey;

  padding-top: 37px;
  padding-bottom: 14px;

  .ladder__margin-top(@block-overlap-mobile);
  margin-top: -134px;

  border-top-left-radius: @block-overlap-mobile;
  border-top-right-radius: @block-overlap-mobile;

  position: relative;
  z-index: @z-index-footer;

  &--page-destination {
    z-index: @z-index-form-footer;
  }

  @media (min-width: @tablet-width) {
    .ladder__margin-top(@block-overlap-tablet);
    padding-top: 46px;
    padding-bottom: 32px;

    border-top-left-radius: @block-overlap-tablet;
    border-top-right-radius: @block-overlap-tablet;
  }

  @media (min-width: @desktop-width) {
    .ladder__margin-top(143px);
    padding-top: 47px;
    padding-bottom: 43px;

    border-top-left-radius: @block-overlap-desktop;
    border-top-right-radius: @block-overlap-desktop;
  }
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.page-footer__logo {
  text-align: center;
  margin-bottom: 39px;
  color: @bg-main;

  &:focus {
    outline-color: @bg-main;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    margin-top: 10px;
    margin-left: -2px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 7px;
  }
}

.page-footer__developer-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 13px;
  .transition(opacity, outline-color;);
  outline-color: transparent;

  border-top: 1px solid @fg-border-light;

  &:focus {
    outline: 1px solid @bg-main;
    outline-offset: 4px;
    border-radius: 4px;
  }

  &:hover {
    .hover();
  }

  &:active {
    .active();
    outline: none;
  }

  @media (min-width: @tablet-width) {
    width: 154px;
    margin-top: 1px;
    border-top: none;
    padding-bottom: 6px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 4px;
  }
}

.page-footer__developer-text {
  .common-font(16px, 18px, 400);
  color: @fg-special-grey;
  margin-top: 0;

  @media (min-width: @tablet-width) {
    .common-font(20px, 20px, 400);
    margin-right: 23px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 24px;
  }
}

.page-footer__social {
  margin-bottom: 36px;

  @media (min-width: @tablet-width) {
    padding-right: 10px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 48px;
  }
}

.page-footer--index {
  .page-footer__logo {
    margin-bottom: 41px;
  }

  @media (min-width: @tablet-width) {
    padding-top: 49px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 47px;
  }
}
