.page-footer {
  background-color: @fg-main;
  color: @fg-special-grey;

  padding-top: 37px;
  padding-bottom: 14px;

  .ladder__margin-top(@block-overlap-mobile);
  margin-top: -134px;

  border-top-left-radius: @block-overlap-mobile;
  border-top-right-radius: @block-overlap-mobile;

  position: relative;
  z-index: @z-index-footer;

  &--page-destination {
    z-index: @z-index-form-footer;
  }

  @media (min-width: @tablet-width) {
    .ladder__margin-top(@block-overlap-tablet);
    padding-top: 46px;
    padding-bottom: 32px;

    border-top-left-radius: @block-overlap-tablet;
    border-top-right-radius: @block-overlap-tablet;
  }

  @media (min-width: @desktop-width) {
    .ladder__margin-top(@block-overlap-desktop);
    padding-top: 47px;
    padding-bottom: 43px;

    border-top-left-radius: @block-overlap-desktop;
    border-top-right-radius: @block-overlap-desktop;
  }
}

.page-footer__wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.page-footer__logo {
  text-align: center;
  margin-bottom: 34px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    margin-top: 12px;
    margin-left: -2px;
  }
}

.page-footer__developer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 13px;

  border-top: 1px solid @fg-border-light;
}

.page-footer__developer-text {
  .common-font(16px, 18px, 400);
  color: @fg-special-grey;
  margin-top: -5px;

  @media (min-width: @tablet-width) {
    .common-font(20px, 20px, 400);
    margin-right: 23px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 24px;
  }
}

.page-footer__developer-button {
  @media (min-width: @tablet-width) {
    margin-top: 4px;
  }
}

.page-footer__social {
  margin-bottom: 36px;

  @media (min-width: @tablet-width) {
    padding-right: 10px;
  }
}
