.page-header {
  min-height: @menu-content-popup__top;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 17px;
  box-sizing: border-box;

  &--dark {
    background-color: @bg-main;
    color: @fg-main;

    @media (min-width: @tablet-width) {
      background-color: @bg-dark;
    }

    @media (min-width: @desktop-width) {
      background-color: @bg-main;
    }
  }

  &--light {
    padding-top: 24px;
    background-color: @fg-main;
    color: @bg-secondary;
  }

  &--inner {
    .ladder__bottom(@block-overlap-mobile);
    z-index: @z-index-header;

    @media (min-width: @tablet-width) {
      .ladder__bottom(@block-overlap-tablet);
    }

    @media (min-width: @desktop-width) {
      .ladder__bottom(@block-overlap-desktop);
    }
  }

  &--destination {
    @media (min-width: @desktop-width) {
      z-index: 1;
    }
  }
}

.page-header__title-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: @desktop-width) {
    justify-content: flex-start;
  }
}

.page-header__logo {
  @media (min-width: @desktop-width) {
    margin-right: 40px;
  }
}

.page-header__menu-button {
  width: 25px;
  height: 25px;
  padding: 0;
  margin: 0;

  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;

  &--close {
    background-image: url("../../img/icons/close.svg");
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;
}

.page-header__inner-title {
  padding-top: 62px;
  padding-bottom: 11px;
  margin: 0;

  align-self: start;
  justify-self: start;

  .common-font(36px, 36px, 700);
  border-bottom: 5px solid @special-orange;

  @media (min-width: @tablet-width) {
    .common-font(60px, 60px, 700);
    padding-top: 137px;
    margin-left: 37px;
    padding-bottom: 66px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 126px;
    margin-left: 64px;
    padding-bottom: 68px;
  }
}

.page-header__contact-buttons {
  display: none;

  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.page-header__contact-buttons .contact-buttons__button {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.page-header__contact-buttons .contact-buttons__authorize {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    min-width: 188px;
  }
}

.page-header__menu-content-list {
  display: none;

  @media (min-width: @desktop-width) {
    display: flex;
    gap: 34px;
    margin-right: auto;

    &::before {
      content: "";
      width: 60px;
      height: 0;
      margin-right: 45px;
      border: 1px solid @fg-main;
    }
  }
}
