.page-header {
  min-height: @menu-content-popup__top;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 19px;
  box-sizing: border-box;

  &--dark {
    background-color: @bg-main;
    color: @fg-main;
  }

  &--dark path,
  &--dark rect {
    fill: @fg-main;
  }

  &--light {
    background-color: @fg-main;
    color: @bg-secondary;
  }

  &--light path,
  &--light rect {
    fill: @bg-secondary;
  }
}

.page-header__title-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header__menu-button {
  width: 25px;
  height: 25px;
  padding: 0;
  margin: 0;

  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;

  &--close {
    background-image: url("../../img/icons/close.svg");
  }
}

.page-header--inner {
  .common-block-overlap__start();
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;
}

.page-header__inner-title {
  padding-top: 62px;
  padding-bottom: 11px;
  margin: 0;

  align-self: start;
  justify-self: start;

  .common-font(36px, 36px, 700);
  border-bottom: 5px solid @special-orange;
}
