@bg-main: #161C35;
@bg-secondary: #192144;
@bg-dark: #182044;
@bg-grey: #E2E5F2;
@bg-greyish: #E2E5F1;
@bg-greyer: #E5E5E5;
@bg-grey-darker: #D6DAED;
@bg-grey-darkest: #C8CEE8;
@bg-dates-decoration: #C4C4C4;
@bg-grey-extra-darker: #D4D9EB;
@bg-grey-extra-darkest: #D1D7E9;
@bg-grey-blue: #DFE3F0;
@bg-light: #E6E8F1;
@bg-lighter: #EDEFF6;
@bg-very-light: #F3F4F8;
@bg-contact: #121936;
@bg-shadow: #365094;
@bg-tooltip: #101D41;

@fg-main: #FFFFFF;
@fg-blue-light: #1D2E5B;
@fg-blue-darker: #132576;
@fg-special-grey: #444444;
@fg-border: #CBCED9;
@fg-border-hover: #959BB2;
@fg-border-darker: #AEB4CB;
@fg-border-lighter: #E1E3E9;
@fg-border-light: #F2F2F2;
@fg-range-hover: #999999;
@fg-black: #000000;
@fg-burger: #CCCCCC;
@fg-calendar-border: #D6D9E6;
@fg-route-close: #AFB0B5;

@special-orange: #FF8D30;
@special-orange-hover: #F26926;
@special-yellow-dark: #FFBD30;
@special-orange-dark: #FFA530;
@basic-yellow: #FFD74B;
@yellow-dark: #F3C72B;
@calendar-weekend: #FF5C23;

@error: #FF0000;
@bg-error: #FFEFEF;
@error-border: #F47E7E;
@status-offline: #F97676;
@status-online: #BBF085;
@bg-like-active: #F9EAEA;
@bg-like-active-hover: #F9D8D8;
@fg-like-active: #F02323;
