@bg-main: #161C35;
@bg-secondary: #192144;
@bg-grey: #E2E5F2;
@bg-grey-darker: #D6DAED;
@bg-light: #E6E8F1;
@bg-lighter: #EDEFF6;
@bg-very-light: #F3F4F8;
@bg-extra-light: #FFFFFF;

@fg-main: #FFFFFF;
@fg-blue-light: #1D2E5B;
@fg-blue-darker: #132576;
@fg-special-grey: #444444;

@special-orange: #FF8D30;
@special-yellow-dark: #FFBD30;
@special-orange-dark: #FFA530;
@basic-yellow: #FFD74B;
@yellow-dark: #F3C72B;

@status-offline: #F97676;
@status-online: #BBF085;
