@block-overlap: 28px;

// z-indices on index.html
// т.к. компоненты отображаются один как бы из под другого
@z-index-map: 1;
@z-index-address: @z-index-map + 1;
@z-index-contacts: @z-index-address + 1;
@z-index-services: @z-index-contacts + 1;
@z-index-travelers: @z-index-services + 1;
@z-index-destinations: @z-index-travelers + 1;
@z-index-about: @z-index-destinations + 1;

@z-index-footer: @z-index-map + 1;

@z-index-popup: 10;
